.header{
  height: 81vh;
  /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), url("./back-1.jpg")); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;

}

h1{
  font-family: 'Dancing Script', cursive;
  color: #AF1B3F;
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;

}

.search-btn{
   height: 50px;
   width: 150px;
   background: #D3C2EB;
   border: none;
   color: #AF1B3F;
   border-radius: 25px;
   font-family: 'Dancing Script', cursive;
   font-size: 2rem;
}

.search-btn:hover{
  background: #B3A4CA;
  cursor: pointer;
}

.ingredient{
  font-size: 16px;
}

.search-field{
    height: 4em;
    width: 50em;
    padding: 10px;
    border-radius: 25px;
    outline: none;
}

.form-box{
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
}

* {
  box-sizing: border-box;
  padding: 0;

}

html { 
  background: url("./back-1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 body {
  font-family: 'Josefin Sans', sans-serif;
  /* font-size: 2rem; */
  /* background-image: url("./back-6.jpeg"); */
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  height: 50em; */
  /* padding-top: 50px; */
}

.nav-wrapper {
  /* background-color: #DAECF0; */
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  justify-content: flex-end;
  /* display: none; */

}
.nav-links {
  float: right;
  margin: auto;
}

a {
padding: 0 25px 0 25px;
text-decoration: none;
color: #B3A4CA;

}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-block;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


 



